{% extends 'base.html' %}
{% block title %}Cool Pokedex{% endblock %}
{% block content %}
<div class="pokemon-profile">
  <img alt="{{p_locale.name}}" src="{{p.image_url}}" />
  <div class="pokemon-info">
    <h2 class="pokemon-name">{{p_locale.name}} (#{{p.poke_id}})</h2>
    <p class="pokemon-description">{{p_locale.description}}</p>
  </div>
</div>
<table>
  <tr>
    <th>Gender</th>
    <th>Type</th>
    <th>Category</th>
    <th>Height (m)</th>
    <th>Weight (kg)</th>
  </tr>
  <tr>
    <td>{{p.gender.value}}</td>
    <td>{{p.poke_type}}</td>
    <td>{{p_locale.category}}</td>
    <td>{{p.height}}</td>
    <td>{{p.weight}}</td>
  </tr>
</table>
{% endblock %}
