{% extends 'base.html' %}
{% block title %}Cool Pokedex{% endblock %}
{% block content %}
<div class="pokemon-profile">
  <img alt="{{p_locale.name}}" src="{{p.image_url}}" />
  <div class="pokemon-info">
    <div>
      <h2 class="pokemon-name">{{p_locale.name}} (#{{p.poke_id}})</h2>
      <div class="pokemon-types">
        {% for type in p.poke_type.split() %}
          <button class="pokemon-type button-black button-outline button-small">
            {{type}}
          </button>
        {% endfor %}
      </div>
    </div>
    <p class="pokemon-category">{{p_locale.category}} Pokemon</p>
    <p class="pokemon-description">{{p_locale.description}}</p>
  </div>
</div>

<table>
  <caption>Physical Information</caption>
  <tr>
    <th>Gender</th>
    <th>Height (m)</th>
    <th>Weight (kg)</th>
  </tr>
  <tr>
    <td>{{p.gender.value}}</td>
    <td>{{p.height}}</td>
    <td>{{p.weight}}</td>
  </tr>
</table>
<h3>Evolution Information</h3>
{% for step_pairs in chain_pairs %}
  <div class="evolution generation">
    <p class="evolution generation-label">
      <b>Generation {{ loop.index }}</b>
    </p>
    {% for (poke_id, name) in step_pairs %}
      <a href="/{{name}}">{{name}}
        <span class="evolution poke-id">#{{poke_id}}</span>
      </a>
      {% if not loop.last %} ,{%endif %}
    {% endfor %}
  <div>
{% endfor %}
{% endblock %}
