@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('../../node_modules/milligram/dist/milligram.css');

main-color = #606c76

html
  font-family: "Spoqa Han Sans", "Spoqa Han Sans KR", sans-serif;

nav
  h1
    font-weight: 500
    text-align: center

  form#search-form
    padding: 1em 3em

  a
    color: main-color

div.pokemon-profile
  width: 100%

  img
    width: 25%
    display:inline-block

  div.pokemon-info
    width: 70%
    display: inline-block

table
  tbody
    width: 100%

  tr
    width: 100%

button#back-to-top
  display: none
  position: fixed
  bottom: 1em
  right: 1em
  padding: 0 1.5em
  margin: 0
  border: none
  background-color: main-color

@media(max-width: 40.0 rem)
  nav
    form#search-form
      padding: 0em 1.5em

  div.pokemon-profile
    img
      width: 100%
      display: block

    div.pokemon-info
      width: 100%
      display: block

  button#back-to-top
    display: block
