@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import '../../node_modules/milligram/dist/milligram.css'
@import './spinner'

main-color = #606c76

.button-black
  background-color: black
  border-color: black

.button-black.button-outline
  color: black

.button-small
  font-size: .8rem
  height: 2.8rem
  line-height: 2.8rem
  padding: 0 1.5rem

html
  body
    padding: 0 2rem
    font-family: "Spoqa Han Sans", "Spoqa Han Sans KR", sans-serif !important;

nav
  & >.row
    padding: 0 3em

    & > h1
      display: inline
      font-weight: 500
      text-align: center
      padding: 0
      margin: 0

.logo
  color: main-color

#search-form
  margin: 1em 0 0 0

#search-input
  margin: 0

#search-recommendation
  height: 2em
  margin: 0 0 1em 0
  overflow: hidden
  text-overflow: ellipsis
  width: 100%

  a
    font-size: 0.875em
    margin: 0.5em


.pokemon-profile
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center

.pokemon-profile-img
  width: 25%
  height: 25%
  display: inline-block

.pokemon-info
  width: 70%
  display: inline-block
  margin-left: 2em

.pokemon-name
  display: inline

.pokemon-types
  display: inline
  margin-left: 1em

.pokemon-type
  display: inline

.additional-infos
  display: flex
  flex-wrap: wrap

.physical-info
  width: 50%
  padding-right: 1em

  & > .pokemon-table-row
    & > td, & > th
      text-align: center;
      width: 100%

.evolution-info
  width: 50%
  padding-left: 1em

.generation-label
  margin: 0.5em 0

.poke-id
  font-weight: lighter
  font-size: 0.825em

#back-to-top
  position: fixed
  bottom: 1em
  right: 1em
  padding: 0 1.5em
  margin: 0
  border: none
  background-color: main-color

@media(max-width: 40.0 rem)
  nav
    & > .row
      padding: 0em 1.5em

  /* Pokemon profile */
  .pokemon-profile-img
    width: 100%
    display: block

  .pokemon-info
    width: 100%
    display: block
    margin-left: 0

  .pokemon-types
    display: block
    margin-top: 1em
    margin-left: 0

  /* Additional Informations */
  .physical-info, .evolution-info
    width: 100%
    padding: 0
